
@font-face {
    font-family: 'baveuse3d';
    src: url('../fez_fonts/baveuse.3d-webfont.eot');
    src: url('../fez_fonts/baveuse.3d-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fez_fonts/baveuse.3d-webfont.woff2') format('woff2'),
         url('../fez_fonts/baveuse.3d-webfont.woff') format('woff'),
         url('../fez_fonts/baveuse.3d-webfont.ttf') format('truetype'),
         url('../fez_fonts/baveuse.3d-webfont.svg#baveuse3d') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clicker_scriptregular';
    src: url('../fez_fonts/clicker-script.regular-webfont.eot');
    src: url('../fez_fonts/clicker-script.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fez_fonts/clicker-script.regular-webfont.woff2') format('woff2'),
         url('../fez_fonts/clicker-script.regular-webfont.woff') format('woff'),
         url('../fez_fonts/clicker-script.regular-webfont.ttf') format('truetype'),
         url('../fez_fonts/clicker-script.regular-webfont.svg#clicker_scriptregular') format('svg');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
	font-family: 'baveuseregular';
	src: url('../fez_fonts/baveuse.regular-webfont.ttf') format('truetype');
	src: url('../fez_fonts/baveuse.regular.tff') format('truetype'),
		 url('../fez_fonts/baveuse.regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fez_fonts/baveuse.regular-webfont.woff2') format('woff2'),
		 url('../fez_fonts/baveuse.regular-webfont.woff') format('woff'),
		 url('../fez_fonts/baveuse.regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 27, 2016 */

@font-face {
	font-family: 'KrinkesDecorPERSONAL';
	src: url('../fez_fonts/KrinkesDecorPERSONAL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'KrinkesRegularPERSONAL';
	src: url('../fez_fonts/KrinkesRegularPERSONAL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.icon-fez {
  font-size: 25px;
}

.fuad-font {
   font-family: 'baveuseregular', "Comic Sans MS", sans-serif;
   text-transform: none;
 
}

.fuad-font-fancy {
  font-family: 'clicker_scriptregular', Helvetica, sans-serif;
}

.fuad-About{
	font-size: 20px;
	color: black;
	
}

.fuad-orange {
	color: #F05F40;
	font-size: 50px;
}

.bandpics {
	margin: 0 auto;
}




@media (min-width: 320px) {

#redFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: black;
	font-weight: 900;
	left: 25px;
   	z-index: 1;
}

#blackFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: red;
	font-weight: 900;
   	left: -229px;
   	bottom: 2px;
   	z-index: 5;
}

.fuad-About-bkgrn {
  background-color: red;
  background-image: url('../fez_pics/beeramid2.jpg');
  background-size: cover;
  vertical-align: 50px;
  /*margin-top: 200px;*/
}


@media (min-width: 375px) {

#redFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: black;
	font-weight: 900;
	left: 55px;
   	z-index: 1;
}

#blackFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: red;
	font-weight: 900;
   	left: -199px;
   	bottom: 2px;
   	z-index: 5;
}




@media (min-width: 410px) {

#redFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: black;
	font-weight: 900;
	left: 95px;
   	z-index: 1;
}

#blackFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: red;
	font-weight: 900;
   	left: -159px;
   	bottom: 2px;
   	z-index: 5;
}


@media (min-width: 567px) {

#redFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: black;
	font-weight: 900;
	left: 125px;
   	z-index: 1;
}

#blackFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 55px;
	color: red;
	font-weight: 900;
   	left: -129px;
   	bottom: 2px;
   	z-index: 5;
}



@media (min-width: 768px) {

#redFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 115px;
	color: black;
	font-weight: 900;
	left: 235px;
   	z-index: 1;
}

#blackFuad {
	position: relative;
	font-family: 'KrinkesDecorPERSONAL', Helvetica, sans-serif;
	font-size: 115px;
	color: red;
	font-weight: 900;
   	left: -295px;
   	bottom: 5px;
   	z-index: 5;
}

.fuad-About-bkgrn {
  background-color: red;
  background-image: url('../fez_pics/beeramid2.jpg');
  background-size: cover;
  vertical-align: 50px;
  /*margin-top: 200px;*/
}
}